section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.color__block {
  width: 25%;
  height: 25%;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 25px;
}

.color--text {
  width: 100%;
  height: 100%;
  /* Center the text block */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Transitions */
  transition: 2s ease-in-out;
}

.color--text:hover > p {
  transform: scale(1.5);
}
